<%- include('header') -%>

<h1 id="heading">About me</h1>

<p>
  This is a To Do List application I've made during the Web Development course.
</p>
<p>You can find me on:</p>

<%- include('footer') -%>
